header {
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px;
}


body {
	text-align: center;
	text-decoration: none;
	margin: 0;
}


nav {
	background-color: #00A6B3;
	color: #FFFFFF;
	padding: 20px 0;
}



main {
	width: 850px;
	margin: 35px auto;
}




a {
	font-family: Raleway;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 20px;
	border-bottom: 2px solid transparent;
}


img {
	margin: 40px 8px 0px 8px;
}



h1 {
	font-family: Raleway;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	text-transform: uppercase;
	margin: 0;
}


h2 {
	font-family: Raleway;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 600;
	text-transform: uppercase;
	font-size: 20px;
}


p {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px
}

footer {
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 0 20px 0 20px;
}